body {
  background-color: white;

}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
